<link rel="stylesheet" href="https://unpkg.com/select-combobox/dist/combobox.css" />
<div>
    <label for="example">Example</label>
    <select id="example" class="autocomplete">
    <option value="1">Option one</option>
    <option value="2">Option two</option>
    <option value="3">Option three</option>
    </select>
</div>
<script src="https://unpkg.com/select-combobox/dist/combobox.js"></script>